<!DOCTYPE html>
<html>

<body>
​
<!-- Navbar (sit on top) -->
{{>navbar}}
<div>
    <span class="image-blur">
      <img src="img/unsplash_cricket.svg" alt="background" width="1300" height="820">
 
    </span></div>


<img class="svgtop" src="img/Cricket.svg"/>


<footer>
  {{>footer}}
</footer>

</body>
</html>
​

  
